<h1>Friend#friend_created</h1>
<%= @user.email %> 
1st Friend: 
<br>
<%= @friend.first_name %> <%= @friend.last_name %>
<br>
<%= image_tag attachments['download.png'].url, alt: 'My Photo', width: 100 %>


